article.student {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #F3F5FC;
  padding: 50px;
  padding-top: 10px;
  min-width: calc(30% - 4.4rem);
  flex-shrink: 1; }
  article.student .red {
    background-color: #DD2121; }
  article.student .yellow {
    background-color: #FADD07; }
  article.student .green {
    background-color: #14A531; }

img {
  height: 200px;
  width: 200px;
  margin: 10%; }
