article.batch {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 1em .8em;
  background-color: #F3F5FC;
  padding: 2.2em;
  min-width: calc(30% - 4.4rem);
  flex-shrink: 1; }

.link {
  text-decoration: none; }
